<div>
  <h2>{{title}}</h2>
  <ng-select
    [options]="myOptions"
    [placeholder]="optionsPlaceholder"
    [(ngModel)]="selectedCurrency"
    (selected)="onSelected($event)">
    <ng-template
      #optionTemplate
      let-option="option">
      <!-- Not showing the country on select -->
      <!--<span>{{option?.label}} - - {{option?.country}} </span>-->
      <span>{{option?.label}}</span>
    </ng-template>
  </ng-select>
  {{selectedCurrency}}
</div>
<div>
  <ul class="players-list">
    <li *ngFor="let country of countires; let i = index;"> ({{i+1}}) {{country.name}}</li>
  </ul>
</div>
